@{
    ViewData["Title"] = "Home Page";
}

<h1>Reservation</h1>
<div class="text-center">
    <div class="seat" id="seat-one"></div>
    <div class="seat" id="seat-two"></div>
</div>
<input type="datetime-local" id="calendar"/>
<script src="~/js/reservation.js"></script>