<h1>Reservation</h1>
<div class="text-center">
    <div class="seat" id="seat-one"></div>
    <div class="seat" id="seat-two"></div>
</div>
<div class="summary">
    <h3>Reserve to seats:</h3>
</div>

<div class="payment">
</div>
<button class="btn btn-primary" id="reserve-btn">Reserve</button>
<script src="~/js/seats.js"></script>
